*{
    margin:0px;
    padding:0px;
}
.parallaxone{
    width:100%;
    color:litepink;
    height:600px;
    background-image: url('/parallaximages/cake2coffe.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.parallaxone h2{
    position:relative;
    left: 600px;
    top: 300px;
    width: 200px;
    height:35px;
    padding:20px;
    background-color: rgb(159, 226, 191);
    background:-o-linear-gradient()
    color:rgb(12, 161, 164);
    text-align: center;

}
.parallaxtwo{
    width:100%;
    color: #CCCCFF;
    height:600px;
    background-image: url('/parallaximages/strawberyCake.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.parallaxtwo h2{
    font-family: "Lucida Console", "Courier New", monospace;
    position:relative;
    left: 600px;
    top: 300px;
    width: 200px;
    height:35px;
    padding:20px;
    background-color: rgb(195, 155, 211  );
    background:-o-linear-gradient()
    color:rgb(12, 161, 164);
    text-align: center;

}
.parallaxthree{
    width:100%;
    color:#CCCCFF;
    height:600px;
    background-image: url('/parallaximages/cupcake.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.parallaxthree h2{
    font-family: "Lucida Console", "Courier New", monospace;
    position:relative;
    left: 600px;
    top: 300px;
    width: 200px;
    height:35px;
    padding:20px;
    background-color: rgba (133, 193, 233 );
    background:-o-linear-gradient()
    color:rgb(12, 161, 164);
    text-align: center;

}
.para{
    padding:50px;
    text-align:center;
    height: 100px;
    background-color: rgba (133, 193, 233 );
    color:RGB(243, 156, 18)  ;
    font-size: 20px;
}
